event manager environment RTB {{ rtb }}
event manager environment CIDR {{ cidr }}
event manager environment REGION {{ region }}/{{ dns }}
event manager environment ENI {{ eni }}
event manager applet replace-route
  event syslog pattern "\(Tunnel99\) is down: BFD peer down notified"
  action 1.0 publish-event sub-system 55 type 55 arg1 "$RTB" arg2 "$CIDR" arg3 "$ENI" arg4 "$REGION"
